body {
  background-color: #232323;
  color: #fff;
}

hr {
  border: none; /* Убираем границу для браузера Firefox */
  color: #215d12; /* Цвет линии для остальных браузеров */
  background-color: #215d12; /* Цвет линии для браузера Firefox и Opera */
  height: 2px; /* Толщина линии */
}

input[type="text"], input[type="password"] {
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  background: #ffffff !important;
  outline: none;
  height: 24px;
  width: 120px;
  color: #191212;
  font-size: 14px;
  font-family: Tahoma;
}

button[type="submit"] {
  border: 1px solid #215d12;
  border-radius: 3px;
  background-color: #215d12;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.notify {
  padding: 5px;
  border-radius: 5px;
  margin: 0 0 10px 0;
  display: inline-block;
}

.notify.msg {
  background-color: #215d12;
}

.notify.err {
  background-color: #e25050;
}

.err {
  color: #e25050;
}

a {
  color: #e25050;
  text-decoration: none;
}

a:hover {
  color: #f38d8d;
}

.auth {
  text-align: right;
}
